/* <!-- ========== NAVBAR-SECTION-CSS-START ========== --> */
.navbar-top-border {
    height: 5px;
    background-color: #DDCBA4;
}

.Navbar {
    background-color: #ffffff;
}

.navbar-search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 51px;
}

.toggler-position {
    justify-content: end !important;
}

.h-search-form input {
    margin: 20px 0px;
    width: 100%;
    padding: 0 20px;
    border: none;
    filter: drop-shadow(0px 10px 30px rgba(190, 175, 156, 0.30));
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-filter: drop-shadow(0px 10px 30px rgba(190, 175, 156, 0.30));
}

.h-search-form input::placeholder {
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.h-search-form button {
    position: absolute;
    right: 18px;
    background: #ffffff;
    color: #231F20;
    top: 32px;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.drop-menu {
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 100% !important;

}

.navbar-last-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-dropdown a,
.navbar-dropdown a:hover,
.navbar-dropdown a:focus {
    color: #302C2D;
}


/* <!-- ========== NAVBAR-SECTION-CSS-END ========== --> */
/* <!-- ========== HERO-SECTION-CSS-START ========== --> */
.hero-bg-img {
    background: linear-gradient(317deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.90) 43.4%, #FFF 89.29%), url(../img/Wilco\ Employee\ Candids_Corvallis-46.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-text-position {
    margin-left: 50px;
}

.hero-wilco {
    margin-top: 9px !important;
}

.hero-wilco a,
.hero-wilco:hover {
    color: #302C2D !important;
    font-family: Roboto Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;


}

.hero-line-adust {
    margin-top: 50px;
}

.hero-line-adust span {
    color: #302C2D;
    font-family: Bitter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.hero-paragraph p {
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.hero-button {
    background-image: url(../img/Rectangle\ 198.png);
    background-position: 2%;
    background-repeat: no-repeat;
    margin-top: 10px !important;
    margin-bottom: 60px;

}

.hero-button p {

    margin: 18px 0px 18px 31px;
    color: #ffffff;
    font-family: Bitter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.hero-employee-img img {
    border: dotted 3px #DDCBA4;
    background-color: #ffffff;
    padding: 3px;
    width: 100%;
}

/* <!-- ========== HERO-SECTION-CSS-END ========== --> */
/* <!-- ========== CHECKBOX-SECTION-CSS-START ========== --> */
.checkbox {
    background-color: #F5F1E7;
}

.checkbox-text-adust {
    padding: 30px 50px;
}

.checkbox-headlines p {
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: dotted 2px #DDCBA4;
    padding-bottom: 9px;
}

.checkbox-lead-wearhouse {
    margin-top: 200px;
}

.checkbox-lead-wearhouse span {
    display: inline-block;
    color: #302C2D;
    background-color: #DDCBA4;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.checkbox-cross a,
.checkbox-cross a:hover {
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.checkbox-second-part {
    margin-top: 40px !important;
}

.checkbox-lead-wearhouse p {
    margin-top: 10px;
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkbox-line-adust{
    margin-top: 11px !important;
}


/* <!-- ========== CHECKBOX-SECTION-CSS-END ========== --> */
/* <!-- ========== CAREER-PATH-SECTION-CSS-START ========== --> */
.career-path{
    background-color: #DDCBA4;
    padding-bottom: 200px;
}
.career-path-line{
    text-align: center;
}
.career-path-headline p{
color: #302C2D;
font-family: Bitter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 15px;
}
.career-path-blocks{
    margin-top: 30px !important;
}
.career-path-block{
    background-color: #FFF;
    border: dotted 2px #BEAF9C;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.career-path-block-2{
    margin-left: 30px;
}
.career-path-block-text-adust{
    padding: 30px;
}
.career-path-block-text-headline {
    color: #302C2D;
font-family: Bitter;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.career-path-block-text{
    color: #302C2D;
font-family: Roboto Condensed;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px !important;
}
.career-path-block-tab{
    padding: 15px 20px;
    border: solid 3px #EFE9D9;
    background:  linear-gradient(180deg, #FFF 0%, #F5F1E7 100%);
    color: #302C2D;
font-family: Roboto Condensed;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 30px !important;
}
.career-path-block-tab.career-path-block-tab-2{
    margin-top: 10px !important;
}
.career-path-block-tab i{
    background-color: #003B5C;
    color: #ffffff;
    padding: 10px 13px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 15px;
}
.hills{
    height: 300px;
   background-image: url(../img/block.svg);
    
    background-repeat: no-repeat;
    
    
}
/* <!-- ========== CAREER-PATH-SECTION-CSS-END ========== --> */
/* <!-- ========== TAB-SHIFTER-SECTION-CSS-START ========== --> */
.tab-shifter{
   background-color: #FAF8F3;
   padding-bottom: 60px;
}
.tab-shifter-text-adust{
   padding:30px 50px;
}
.tab-shifter-headline{
    color: #302C2D;
    font-family: Bitter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.tab-shifter-tab{
   text-align: center;
   background-color: #EFE8D6;
   margin-right: 10px;
   margin-bottom: 7px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tab-shifter-tab:focus-within{
   background-color: #ffffff;
   margin-bottom: 0px;
   border-top: solid 5px #003B5C;
}
.tab-shifter-tab a{
    color: #302C2D;
    font-family: Bitter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding-top: 30px ;
    padding-bottom: 30px;
    display: inline-block;
    
}
.tab-shifter-body-bg{
   background-color: #ffffff;
}
.tab-shifter-body-text-adust{
   padding: 40px;
}
.tab-shifter-body p{
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tab-shifter-body ul li{
color: #302C2D;
font-family: Roboto Condensed;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
}
.tab-shifter-body ul li::marker{
    color: #003B5C;
    
}
.video-line-adust{
    margin-top: 100px !important;
}
.video-line-1{
    padding-left: 0px !important;
}
.video-line-2{
    padding-right: 0px;
}
.video-line img, video{
    border: dotted 3px #DDCBA4;
    padding: 4px;
    width: 100%;
    height: 100%;
}









.slider{
    margin-top: 60px;
}
.slider-data{
    text-align: center;
}
.slider-data p{
    color: #302C2D;
font-family: Roboto Condensed;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 25px;
}
.below-slider{
    text-align: center;
}
.slider-qoute{
    margin-top: 40px;
    color: #302C2D;
font-family: Roboto Condensed;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.slider-name{
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.slider-warehouse{
    color: #302C2D;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pre-button-adust{
    justify-content: start !important;
    margin-bottom: 260px;
}
.next-button-adust{
    justify-content: space-around !important;
    margin-bottom: 260px;
}
.slider-nest{
    background-image: none !important;
    
}
.slider-nest i{
    background-color: #EDE9DE;
    color: #AFA08C;
    font-size: 20px;
    padding: 27px 28px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* <!-- ========== TAB-SHIFTER-SECTION-CSS-END ========== --> */
/* <!-- ========== FOOTER-SECTION-CSS-START ========== --> */
.footer{
    overflow-x: hidden;
}
.footer-first-col{
    padding-top:130px ;
    padding-bottom: 100px;
    padding-left:120px;
    padding-right: 120px;
    background-color: #002337;
}
.footer-first-col p{
    color: #FFF;
    font-family: Bitter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.footer-path-img{
    background-image: url(../img/Rectangle\ 5511.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: start !important;
}
.footer-path-img img{
    margin-left: 55px;
}
.footer-second-path{
    background-color: #003B5C;
    
}
.footer-second-col{
    padding-top: 65px;
}
.footer-second-col-1 p{
    color: #FFF;
font-family: Bitter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-second-col-icon{
    text-align: end;
}
.footer-second-col-1 ul li a{
    color: #D1A231;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}
.footer-second-col-1 ul li a i{
    color: #ffffff;
    margin-right: 20px;
    font-size: 25px;
}
.footer-second-col-1 ul li{
    list-style-type: none !important;
    margin-top: 15px !important;

}
.footer-second-col-1 ul{
    padding-left: 0px;
}
/* <!-- ========== FOOTER-SECTION-CSS-END ========== --> */

















/* <!-- ========== MEDIA-QUERY-1024-START ========== --> */
@media only screen and (max-width: 1024px) {
.checkbox-query-adust{
    padding-top: 40px;
}
.career-path-block-2{
    margin-left: 15px;
}

}
/* <!-- ========== MEDIA-QUERY-1024-END ========== --> */

/* <!-- ========== MEDIA-QUERY-768-START ========== --> */
@media only screen and (max-width: 768px) {

    .navbar-toggler-position,
    .navbar-toggler-position:focus,
    .navbar-toggler-position:focus-visible {
        margin: 36px 18px;
        border: none !important;
        color: #302C2D !important;
        box-shadow: none !important;
    }

    .navbar-light .toggler-img {
        background-image: url(../img/menu\ icon.png) !important;
    }
    .hero-text-position {
        margin-left: 30px;

    }
    .checkbox-text-adust {
        padding: 30px 30px;
    }
    .checkbox-lead-wearhouse-query span:last-child{
        margin-top: 10px;
    }
    .career-path-block-2{
        margin-left: 0px;
        margin-top: 20px !important;
    }
    .tab-shifter-text-adust{
        padding:30px 30px;
     }
     .tab-shifter-body-text-adust{
        padding: 40px 30px;
     }

}

/*
.navbar-toggler.navbar-toggler-position.collapsed .toggler-img {
    background-image: url(../img/xmark-solid.svg) !important;
} */

/* <!-- ========== MEDIA-QUERY-768-END   ========== --> */
/* <!-- ========== MEDIA-QUERY-425-START ========== --> */
@media only screen and (max-width: 425px) {
    .dropdown-media-position {
        margin: 20px 0px;
    }

    .hero-bg-img {
        background: none;
        background-color: #ffffff;

    }

    .hero-bg-img-query {
        background: linear-gradient(317deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.90) 43.4%, #FFF 89.29%), url(../img/Wilco\ Employee\ Candids_Corvallis-46.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-employee-img {
        margin-top: 22px;
        margin-bottom: 31px;
    }

    .hero-text-position {
        margin-left: 20px;

    }
    .checkbox-text-adust {
        padding: 30px 20px;
    }
    .checkbox-headlines-query p{
        margin-top: 25px;
    }
    .checkbox-lead-wearhouse span:nth-child(4){
        margin-top: 10px;
    }
    .career-path-headline{
        text-align: center;
    }
    .tab-shifter-text-adust{
        padding:30px 32px;
     }
     .tab-shifter-body-text-adust{
        padding: 40px 20px ;
     }
     .tab-shifter-headline{
        padding-left: 0px  !important;
     }
     .video-line-1{
        padding-left: 12px !important;
    
     }
     .video-line{
        margin-top: 25px !important ;
     }
     .pre-button-adust{
        display: none !important;
     }
     .next-button-adust{
        display: none !important;
     }
     .slider-warehouse{
      
     }
     
}

/* <!-- ========== MEDIA-QUERY-425-END ========== --> */
/* <!-- ========== MEDIA-QUERY-375-START ========== --> */
@media only screen and (max-width: 375px) {

    .hero-line-adust span:last-child {
        margin-left: 15px;
    }
    .checkbox-text-adust {
        padding: 30px 0px;
    }
    .hero-text-position {
        margin-left: 10px;
    }
    .tab-shifter-text-adust{
        padding:30px 12px;
     }
     .tab-shifter-body-text-adust{
        padding: 40px 5px ;
     }
     .pre-button-adust{
     
     }
     .next-button-adust{
       
     }
}

/* <!-- ========== MEDIA-QUERY-375-END ========== --> */
@media only screen and (max-width: 320px) {
    .pre-button-adust{
   
     }
     .next-button-adust{
       
     }
}